extends layout

block content
  div.navbar.navbar-inverse
    div.container
      div.navbar-header
        a.navbar-brand Chorebot
  div.container
    div.row
      div.col-md-12
        h2 Week of #{formattedDate}
        table.table.table-striped
          thead
            tr
              th Who
              th What
              th Notified?
              th Will Notify
              th Done?
          tbody
            each assignment in assignments
              tr
                td @#{assignment.userName} (#{assignment.userId})
                td #{assignment.chore}
                td #{assignment.notified ? 'yes' : 'no'}
                td #{assignment.notify}
                td #{assignment.done ? 'yes' : 'no'}
